:root{
  --dark-color: #333333;
  --accent-color: #EDC96B;
}
html{
  width: 100vw;
  height: 100vh;
  
  background-color: var(--accent-color);
  color: var(--dark-color);
  font-size: 16px;

  cursor: none;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
}
h1{
  font-family: initial;
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 15vw;
  font-weight: 700;
  
  text-align: center;
  line-height: 0.8em;
  letter-spacing: -0.1em;

  box-sizing: border-box;
  padding-bottom: 0.1em;
  border-bottom: dashed var(--dark-color) 0.1em;

  /*cursor: pointer;*/
}
h2{
  margin: 0;
  line-height: 0.5em;
  vertical-align: middle;
}

.cont{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wave span{
  margin: 0;
  padding: 0;
  display: inline-block;

  animation: wave 0.8s ease-in-out 1;
}

.wave::selection, .wave span::selection{
  background-color: none;
  color: white;
}

#cursor{
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-50%) translateY(-50%);

  width: 1vw;
  height: 1vw;

  background-color: white;
  /*mix-blend-mode: soft-light;*/
  border-radius: 50%;
  box-shadow: 0 0 30px 20px white;
}

.wave span:nth-of-type(1){
  animation-delay: 0s;
}
.wave span:nth-of-type(2){
  animation-delay: 0.2s;
}
.wave span:nth-of-type(3){
  animation-delay: 0.4s;
}
.wave span:nth-of-type(4){
  animation-delay: 0.6s;
}
.wave span:nth-of-type(5){
  animation-delay: 0.8s;
}
.wave span:nth-of-type(6){
  animation-delay: 1s;
}
.wave span:nth-of-type(7){
  animation-delay: 1.2s;
}
.wave span:nth-of-type(8){
  animation-delay: 1.4s;
}
.wave span:nth-of-type(9){
  animation-delay: 1.6s;
}
.wave span:nth-of-type(10){
  animation-delay: 1.8s;
}
.wave span:nth-of-type(11){
  animation-delay: 2s;
}

@keyframes wave{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-0.2em) scale(1.1);
  }
  100%{
    transform: translateY(0);
  }
}


/*HEADER*/
header{
  position: fixed;
  left: 0;
  top: 0;

  font-size: 5vh;

  box-sizing: border-box;
  width: 100vw;
  height: 3em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;

  /*background: var(--dark-color);
  color: var(--accent-color);*/
  border-bottom: thin var(--dark-color) solid;
}
header:hover #cursor{
  background-color: black;
}
div::selection, h2::selection{
  background-color: transparent;
  color: white;
}
#logo{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#nav-cont{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;

  width: wrap-around;
  height: 100%;
}
.nav-item{
  font-size: 0.8em;
}
