:root {
	--dark-color: #333;
	--accent-color: #edc96b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100vw;
	height: 100vh;
	background-color: var(--accent-color);
	color: var(--dark-color);
	font-size: 16px;
	cursor: none;
}

body {
	width: 100%;
	height: 100%;
}

h1 {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 15vw;
	font-weight: 700;
	text-align: center;
	line-height: 0.8em;
	letter-spacing: -0.1em;
	padding-bottom: 0.1em;
	border-bottom: dashed var(--dark-color) 0.1em;
}

.cont {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wave span {
	display: inline-block;
	transform-origin: bottom right;
	animation: wave 0.8s ease-in-out 1;
}

.wave::selection,
.wave span::selection {
	background-color: none;
	color: white;
}

.cursor {
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translateX(-50%) translateY(-50%);
	width: 1vw;
	height: 1vw;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 0 30px 20px white;
	display: none;
	pointer-events: none;
}

.wave span:nth-of-type(1) {
	animation-delay: 0s;
}
.wave span:nth-of-type(2) {
	animation-delay: 0.2s;
}
.wave span:nth-of-type(3) {
	animation-delay: 0.4s;
}
.wave span:nth-of-type(4) {
	animation-delay: 0.6s;
}
.wave span:nth-of-type(5) {
	animation-delay: 0.8s;
}
.wave span:nth-of-type(6) {
	animation-delay: 1s;
}
.wave span:nth-of-type(7) {
	animation-delay: 1.2s;
}
.wave span:nth-of-type(8) {
	animation-delay: 1.4s;
}
.wave span:nth-of-type(9) {
	animation-delay: 1.6s;
}
.wave span:nth-of-type(10) {
	animation-delay: 1.8s;
}
.wave span:nth-of-type(11) {
	animation-delay: 2s;
}

@keyframes wave {
	0% {
		transform: translateY(0) scaleY(1);
	}
	20% {
		transform: translateY(0) scaleY(0.8);
	}
	60% {
		transform: translateY(-0.4em) scaleY(1.2);
	}
	100% {
		transform: translateY(0);
	}
}
